.badge {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 12px;
  color: #808080;
}

.badge p {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
}

.grey {
  background-color: #f2f2f2;
  color: #808080;
}

.black {
  background-color: #e2e2e2;
  color: #16171d;
}

.blue {
  background-color: #f2f4fd;
  color: #3754db;
}

.orange {
  background-color: #fffdf5;
  color: #df9a00;
}

.green {
  background-color: #f0fff9;
  color: #00c271;
}
