.empty-list-container {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks-logo {
  height: 140px;
  width: auto;
  margin-bottom: 40px;
}

.empty-list-message > .view-title + .subtitle {
  margin: 12px 0;
}

.empty-list-message > .button-primary {
  margin-top: 12px;
}
