.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-hidden {
  display: none;
  overflow: hidden;
}

.modal-content {
  z-index: 1001;
  width: 40%;
  min-width: 400px;
  max-width: 600px;
}

.close-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f6f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.close-button img {
  height: 20px;
  width: 20px;
}
