.task-viewer-container {
  background-color: #f3f3fb;
  border-radius: 50px;
  padding: 40px;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.task-viewer-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.task-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: flex-start;
  justify-content: space-between;
  gap: 40px 50px;
}
