.form-row {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.label-md {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2c2e3a;
}

.input-primary {
  margin: 5px 0;
  padding: 16px;
  gap: 10px;
  border: 1px solid #a8abbd;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Sen", sans-serif;
}

textarea.input-primary {
  resize: none;
}

.button-primary {
  background: #3754db;
  border-radius: 12px;
  padding: 19px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Sen", sans-serif;
}

.button-primary:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
  background-blend-mode: lighten;
  background-blend-mode: darken;
}
